* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8b5b5;

}

.logotipo-logo {
    width: 190px;
    margin-top: 20px;
}
/* -------------------------------------------------------------CABEÇALHO------------------------------------------------------------------------------------------- */
/* Ajustar o z-index do header para garantir que o menu esteja acima do carrossel */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #dd8686;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    /* Garanta que o header tenha um z-index maior que o carrossel */
}


.topo-conteudo{
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav{
    padding: 40px 20px 40px 0;
}

.menu{
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.search-box-input {
    margin: 0;
    padding: 6px;
}

.menu a{
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.menu a:hover{
    
    font-weight: bold;
    /* border-top: 1px solid #813566;
    padding: 10px;
    border-bottom:1px solid #813566;
    color: #813566; */
}

form{
    border-radius: 0.3em;
    padding: 0.3em;
 
}

form input,
form button {
    font-size: 1.4em;
    border-radius: 0.2em;
    border: none;
    padding: 0.2em;
    font-family: 'Times New Roman', Times, serif;
 
}
 
form button {
    cursor: pointer;
    background: none;
    color: rgb(238, 109, 180);
 
}
 

main {
    width: 100%; /* Garante que o main ocupe toda a largura disponível */
    padding: 100px 0; /* Ajuste o padding conforme necessário */
    margin: 0 auto;
}


footer {
    background-color: #dd8686;
    display: flex;
    flex-direction: column;
    /* Alinha os itens em coluna */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    width: 100%;
    padding: 20px 0;
    /* Adiciona um pouco de padding vertical */
}

.icon {
    display: flex;
    justify-content: center; /* Alinha os ícones horizontalmente */
    margin-bottom: 10px; /* Espaçamento entre ícones e o texto do rodapé */
}

.redes {
    margin: 0 10px; /* Ajusta o espaçamento entre ícones */
    height: 30px;
    width: 30px;
}

.texto-rodape {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    text-align: center;
    /* Garante que o texto está centralizado */
}




.formulario {
    width: 700px;
    margin: 100px 410px 100px 410px;
    padding: 30px;
    border: 1px solid #000000;
    color: rgb(234, 63, 157);
    background-color: #ffffff;
    padding: 80px 10 80px 10;
    background-color: rgb(243, 185, 217);
}

.field {
    width: 100%;
    margin: 15px 0;
}

.field label,
.field span {
    padding-left: 15px;
    font-size: 19px;
    width: 100%;
}

.formulario h2 {
    text-align: center;
    font-size: 40px;
}


/* input[type=text], */
input[type=email],


textarea {
    width: 100%;
    padding-left: 5px;
    border: 1px solid #834400;
}

textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
 
}

input[type=submit] {
    display: block;
    background-color: rgb(241, 83, 170);
    width: 150px;
    margin: 0 auto;
}